@charset "utf-8";
/* CSS Document */

h2 {
  text-align: center;
  color: #13f732;
}
.p2 {
  color: #e01a1d;
  text-transform: lowercase;
}
#p3 {
  background-color: #120de6;
  color: #0aecd1;
  text-align: center;
  border: solid #ee0ae1;
}
