@charset "utf-8";
/* CSS Document */
img {
  border-bottom: double#3333cc;
  border-top: solid 2px;
}
h2 {
  text-align: center;
  text-decoration: line-through;
}
#p1 {
  color: #1e1ee7;
  text-transform: capitalize;
}
.p2 {
  background-color: #13d0de;
  color: #e905dc;
  text-align: center;
  border: solid #f7060a;
}
